 body,html {
  height: 100%;
 }

 body {
  font-family: 'Lato', sans-serif;
  background: #F5F5F5;
  color: #FFFFFF;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  color: #D54C4A;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

h1 {
  font-size: 2em;
  letter-spacing: -1.25px;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}

.green {
  background: #C4E0A6;
}

.red {
  background: #D54C4A;
}

.white {
  background: #FFFFFF;
}

.grey {
  background: #F5F5F5;
}

#logo img {
  margin: 9.375% 0 0 15.625%;
  width: 125px;
}

.nav ul {
  margin: 11.36% 3.78% 0 0;
  list-style: none;
  float: right;
}

.nav ul li {
  float: left;
  margin-left: 75px;
}

.nav ul li a {
  font-size: 1em;
  color: #B2CC99;
}

.nav ul li a:hover {
  color: #D54C4A;
}

#intro {
  height: 650px;
}

#my-blurp img {
  background: #FFFFFF;
  padding: 1%;
  border: 2px #B2CC99 solid;
  border-radius: 140px;

}

#my-blurp {
  margin: 2.5% 0 0 0;
  text-align: center;
  color: #A6A6A4;
}

#love {
  text-align: center;
  /*height: 300px;*/
  padding: 5% 0;
}

.circle_container{
  padding: 2.14% 0 0 0;
  width: 70%; /*700px*/
  margin: auto;
}

#circle {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  margin-left: 2.8%; /*20px*/
  margin-top: 2.8%;
  text-align: center;
}
#circle p {
  position: relative;
  margin-top: 40px;
  font-size: .75em;
  color: #FFFFFF;
}

#circle:hover {
  background: #D54C4A;
}

#photos {
 /* margin: -10px 0 10px 0;
  height: 400px;*/
}

#photos img {
  outline: 2px solid #707070;
  margin: 19px 10px;
}

#quirky {
  /*height: 300px;*/
  text-align: center;
  padding: 5% 0 2.5% 0;
  margin: -1% 0 0 0;
}

.fact {
  width: 70%; /*700px*/
  margin: 5% auto;
  color:#FFFFFF;
  font-size: 1.5em;
  border-top: 1px solid white;
}

#quirky2 {
  /*height: 300px;*/
  text-align: center;
  padding: 5% 0 2.5% 0;
  margin: 0 0 -2.5% 0;
}

#quirky2 h2 {
  color: #A6A6A4;  
}

.fact2 {
  width: 70%; /*700px*/
  margin: 5% auto;
  color:#A6A6A4;
  font-size: 1.5em;
  border-top: 1px solid #A6A6A4;
}

#contact {
  text-align: center;
  padding: 5% 0;
  margin: auto;
}

#social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  margin: 0 10px;
}

#social:hover {
  background: #D54C4A;
}


#copyright {
  padding: 1% 0;
  text-align: center;
}


/*media queries*/

@media screen and (max-width: 1115px) {
  .grid_4, .grid_8 {
    width: 100%;
    text-align: center;
  }

  #intro {
    height: 750px;
  }

  #logo img {
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 5% 0 -8% 0;
  }
  
  .nav ul {
    float: none;
    margin: 10% 0 -5% 0;
  }
  .nav ul li {
    display: inline;
    padding: 5%;
    float: center;
    margin: auto;
  }

  #photos img {
    width: 95%;
  }

  #photos .grid_5 img {
    margin: 4.5% 0;
  }


}


@media screen and (max-width: 640px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }

  #intro {
    height: 800px;
  }

  #photos .grid_5 img {
    width: 45%;
    margin: 0 2.3% 3% 2.3%;
  }

  .nav ul li {
    float: left;
    margin: 5% 5% 0 2%;
    padding: 0;
  }

  .nav ul  li.about {
    width: 20%;
    text-align: left;
    /*float: left;*/
  }
  .nav ul  li.portfolio {
    width: 30%;
    text-align: center;
  }
  .nav ul  li.blog {
    width: 25%;
    text-align: right;
  }
  .nav ul li.contact {
    width: 92%;
    margin: 5% 0 0 0;
    padding: 5% 0;
    background: #D54C4A;
  }

  .nav ul li.contact:hover {
    width: 92%;
    margin: 5% 0 0 0;
    padding: 5% 0;
    background: #B2CC99;
  }

  .nav ul li.contact a {
    color: #FFFFFF;
  }

}



@media screen and (max-width: 450px) {

  #intro {
    height: 875px;
  }

  #photos .grid_5 img {
    width: 95%;
   margin: 0 2.3% 5% 2.3%;
  }

}